# R/RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Quarto and builds
.quarto/
_book/
_site/
_temp/
_freeze/
/site_libs/
/*._files/
docs/
*.tex

# Management
PLAN.md
adm/
!adm/README.md
/.quarto/

**/*.quarto_ipynb
